.main-footer {
  position: static;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #caebf2;
  padding-top: 20px;
  padding-bottom: 10px;
  height: auto;
  width: auto;
}

.main-footer #info {
  align-content: center;
  font-size: 16px;
  font-weight: bolder;
}
