.main-footer {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  background-color: #caebf2;
  margin-top: 60px;
  padding-bottom: 10px;
}

.main-footer #info {
  display: inline;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bolder;
}
